p.a{
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: #000
}

body{
  background: #fff;
}

.box{
background-color: #fff;
height: 35rem;
}

.header{
padding: 10px;
}

.demo {
    .u-absoluteCenter();
    .u-flexCenter();
    top: 50%;
    transform: translate(0,50%)
}

.left-card{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #999;
}

.card-titles{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  text-align: center;
  padding: 5px;
  color: #999;
}

.content{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #999;
}

.data{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #339933;
}

.countdown{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 200%;
  color: #339933;
}

.progress {
  fill:none;
  stroke: #339933;
  stroke-width: 12;
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(90deg);
}

.card-img-top{
  height: auto;
  width: 20rem;
}

.settings-button{
  height: 20%;
  width: 20%;
}

.button-text {
font-family: 'Encode Sans Semi Expanded', sans-serif;
font-size: 20px;
text-align: center;
padding: 5px;
color: #999;
}
