<!DOCTYPE html>

<!-- Version 0.5.7 -->
<!-- Author: Control Subsystem -->

<html lang="en">
  <head>
    <title>Plant Imaging - Box Farm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="bootstrap-4.2.1/bootstrap.min.css">
    <script src="popper-1.14.17/popper.min.js"></script>
    <script src="bootstrap-4.2.1/bootstrap.min.js"></script>

    <!--Fonts-->
    <link href="Space_Mono.css" rel="stylesheet">
    <link href="Encode_Sans_Semi_Expanded.css" rel="stylesheet">

    <!-- Box Farm stylesheets. -->
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <div class="container">
      <div class="card card-top box box-main shadow-lg">
        <!-- Card heading. -->
        <div class="row">
          <div class="col">
            <!-- Moved border style definition to style.css and referenced to its top-level div. -->
            <!-- Need to move logo slightly to the left. -->  
            <a href="index.html"><img src="box-farm-logo.png" class="card-img-top" alt="Box Farm Home"></a>
            <h1 class="left-card text-center">Plant Imaging</h1>
          </div>
        </div>
        
        <div class="card-body content-spacing">
          <div class="row">
            <div class="col-12">
              <%= "1 + 1 = " + ( 1 + 1 ) %>
            </div>
          </div>
          
          <div class="horizontal-bar"></div>
          
          <!-- Footer -->
          <div class="row">
            <div class="col-12 text-right">
              <button type="button" id="imaging-btn-back" class="btn btn-primary">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      var backBtn = document.getElementById( "imaging-btn-back" );
      
      backBtn.addEventListener(
        "mouseup",
        function() {
          window.location.href = ".";
        }
      );
    </script>
  </body>
</html>